{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}
<div class="page-header">
<h2>Como funciona o IguassuPass?</h2>
<BR/>
<BR/>
<BR/>
<p>
	<!--{{=T("O IguassuPass é um serviço de venda para cupons de todas as atrações turisticas de Foz do Iguaçu.")}}-->
	{{=T("IguassuPass is a market service for all the Foz do Iguaçu sights")}}
</p>
<p>
	<!--{{=T("Com o IguassuPass você consegue, além de garantir sua entrada para o local onde quer visitar, um melhor preço, com descontos de até 20%*")}}-->
	{{=T("Using IguassuPass, you can, beyond have a ticket for any place, a best price, with 20% OFF*")}}

	 <div class="alert alert-warning">{{=T("*It may change with the time of the year")}}</div>
</p>
</div>
{{end}}